.activity-randomiser-container{
    display:flex;
    flex-direction: column;
}

.activity-box {
    width: 20vw;
    height: 55vh;
    border-color: black;
    border-style:solid;
    border-radius: 10px;
    border-width: 2px;
    margin-left:125px;
    
}

.randomise-button {
    width: 10vw;
    margin-left: 15vw;
}