.activity-randomiser-container {
  display: flex;
  flex-direction: column;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  margin-left: 45px;
  max-height: 100vh;
  width: 30vw;
  position: relative;
  background-color: rgba(244, 235, 235, 0.692);
  backdrop-filter: blur(2px);
}

.randomise-button {
  width: 10vw;
  margin-top: 5px;
  cursor: pointer;
  margin-top: auto;
  transform: translateX(150%);
}

.activity-text {
  text-align: center;
  margin: 20px;
}

.box-image {
  height: 100%;
  width: 100%;
}
