.planned-activity-container {
  display: flex;
  flex-direction: column;
}
.display-items-container {
  display: flex;
  flex-direction: column;
}
.container {
  margin: 10vh;
  background-color: rgba(244, 235, 235, 0.692);
  backdrop-filter: blur(2px);
  padding: 5vh;
}

img {
  height: 40vw;
  align-self: center;
  width: 40vw;
}

.title {
  align-self: center;
}
